<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <script src="dist/app.bundle.js"></script>
    <div ng-app="yexProject">
        <div ui-view/>
    </div>
  </body>
</html>
